body{
    background-image: url(record.png);
    margin: 0;
}

header{
background-color: black;
color: bisque;
text-align: center;
}

main{
    text-align: center;
    background-color: grey;
    color: aliceblue;
    padding: 1em;
}